@import "antd.css";
.card {
  @apply rounded-md p-4 shadow-main w-full transition duration-300 ease-in-out hover:shadow-card hover:-translate-y-1 hover:scale-105;
  background: #fff;
  box-shadow: 0 0 10px 5px #0000000d;
}
.admin-card {
  @apply shadow-md rounded-md p-8 shadow-main;
  background: #fff;
  width: 570px;
}
.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.w-desc {
  width: calc(100% - 32px);
}
.h-200 {
  height: 200px;
}

/*app布局*/

.layout {
  @apply flex;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 10px 2px;
  transition: all 0.3s ease 0s;
  backdrop-filter: blur(10px);
  background: rgba(247, 247, 247, 0.5);
}
.main-app {
  @apply py-14 overflow-auto;
  flex: 1;
}
